:root{
    --primary-color: #5D4FB3;
    --secondary-color: #3b007a;
    --text-color: #fff;
    --background-color: #18181B;
    --border-color: #f5f0ff;
    --icon-color: #fff;
    --icon-hover-color: #5D4FB3;
    --button-color: #5D4FB3;
    --button-hover-color: #fff;
    --button-disabled-color: #3b007a;
    --button-disabled-text-color: #fff;
    --input-color: #fff;
    --input-placeholder-color: #f5f0ff;
    --input-border-color: #f5f0ff;
    --input-disabled-color: #3b007a;
    --header-color: #5D4FB3;
    --header-text-color: #fff;
    --header-background-color: #18181B;
    --card-color: #3b007a;
    --card-text-color: #fff;
    --card-background-color: #18181B;
    --card-border-color: #f5f0ff;
    --card-header-color: #5D4FB3;
    --card-header-text-color: #fff;
    --card-header-background-color: #18181B;
    --modal-background-color: #18181B;
    --modal-text-color: #fff;
    --modal-header-color: #5D4FB3;
    --modal-header-text-color: #fff;
    --modal-header-background-color: #18181B;
    --modal-button-color: #5D4FB3;
    --modal-button-hover-color: #fff;
    --modal-button-disabled-color: #3b007a;
    --modal-button-disabled-text-color: #fff;
    --alert-color: #5D4FB3;
    --alert-text-color: #fff;
    --alert-background-color: #18181B;
    --alert-border-color: #f5f0ff;
    --alert-header-color: #5D4FB3;
    --alert-header-text-color: #fff;
    --alert-header-background-color: #18181B;
    --alert-button-color: #5D4FB3;
    --alert-button-hover-color: #fff;
    --alert-button-disabled-color: #3b007a;
}